section.booking-page {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    /* flex-direction: column; */
}


.booking-title-wrapper {
    background-color: var(--primary-green);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

h1.booking-title {
    color: white;
    font-family: 'Markazi Text', serif;
    font-weight: lighter;
    font-size: 3rem;
    padding: 0;
    margin: 0;
    background-color: var(--primary-green);
    ;
}

@media screen and (min-width:260px) and (max-width: 640px){
    section.booking-page .booking-title-wrapper {
          margin-top: 3.5rem;
      }
      .booking-title-wrapper .booking-title {
          font-size: 2.3rem;
      }
    }

      /*---Bigger Desktop Screen---*/

@media screen and (min-width:1600px) {
    section.booking-page {
        /* height: 100vh;
        margin-bottom: 10rem; */
        display: flex;
        flex-direction: column;
    }

    
}


