.menu-dishes-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu-dishes {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    gap: 5rem;
}

.menu-dishes-heading {
    font-family: 'Markazi Text', serif;
    font-weight: lighter;
    color: var(--primary-green);
    font-size: 3rem;
}

.menu-dish {
    background-color: var(--secondary-pale-gray);
    position: relative;
    border-radius: 1rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: transform 300ms;
}

.menu-dish:hover {
    transform: scale(1.1);
}

.menu-dish img {
    height: 12rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    object-fit: cover;
}


.menu-dish-title, .menu-dish-details, .cart-price-wrapper {
    padding: 0 2rem;
}


.menu-dish .cart-price-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

.menu-dish-title {
    font-family: 'Markazi Text', serif;
    font-size: 1.5rem;
}

.menu-dish-details {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color: var(--primary-green);
}

.menu-dish-price, .basket {
      position: absolute;
      bottom: 1.6rem;
}

.menu-dish-price {
    right: 2rem;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    color: var(--secondary-orange);
    font-size: 1.4rem;
}

.basket {
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
}

.basket path {
    transition: fill 150ms;
}

.basket path:hover {
    fill: var(--primary-yellow);
}

/*---TABLET---*/
@media screen and (min-width: 631px) and (max-width: 1150px) {
    .menu-dishes-wrapper {
        padding: 0 2rem;
    }
    .menu-dishes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }


    .menu-dish img {
        height: 15rem;
    }
}

/*---MOBILE---*/

@media screen and (min-width:260px) and (max-width: 630px){
    .menu-dishes-wrapper {
        padding: 0 2rem;
    }
    .menu-dishes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}