.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuSalads, .menuDishes, .menuWines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
    justify-items: center;
    gap: 2rem;
}

.menu img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: .5rem;
}

.menu-section {
    position: relative;
}

button.see-more {
    width: 20rem;
    margin-top: 2rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--primary-yellow);
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    transition: background-color 300ms;
    grid-column: 2/3;
}

button.see-more:hover {
    background-color: var(--primary-green);
}

button.see-more:hover > a {
    color: white !important;
}

.menu h1 {
    font-family: 'Markazi Text', serif;
    color: var(--primary-green);
    font-size: 3rem;
    letter-spacing: 2px;
}

/*---TABLET---*/

@media screen and (min-width: 631px) and (max-width: 1150px) {
    .menu img {
        height: 11rem;
        width: 11rem;
    }

    button.see-more {
        width: 11rem;
        grid-column: 2;
    }
}

/*---MOBILE---*/

@media screen and (min-width:260px) and (max-width: 630px){
    .menuSalads, .menuDishes, .menuWines {
        grid-template-columns: 1fr !important;
    }
    .menu h1 {
        margin: 0;
        margin-top: 3rem;
    }

    button.see-more {
        grid-row: 1!important;
        grid-column: unset;
        margin-top: 0;
        width: 15rem;
    }

    .menu img {
        height: 15rem;
        width: 15rem;
    }
}
