nav.main-nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    align-items: center;
  }

  nav.main-nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  nav.main-nav li {
    margin: 0;
    padding: 0;
  }

  nav.main-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    transition: color 150ms;
    font-size: 13px;
  }

  nav.main-nav a:hover {
    color: var(--primary-yellow);
  }
  nav.main-nav .mobile-menu {
    display: none;
    height: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
  }

  .nav-cart-logo {
    height: 1.5rem;
    width: 1.5rem;
  }

  .close {
    display: none;
  }

  /*---MOBILE---*/
@media screen and (min-width:260px) and (max-width: 640px){
    nav.main-nav .logo {
        position: absolute;
        top: 0;
        left: 0;
      }

      nav.main-nav ul {
        display: none;
      }

      nav.main-nav .mobile-menu {
        display: block;
      }

      .close {
        height: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 0.7rem;
        font-size: 2rem;
        display: none;
      }
}

/*---TABLET---*/
@media screen and (min-width:641px) {
    nav.main-nav ul {
        display: flex;
        gap: 1rem;
      }
      nav.main-nav li {
        font-size: 15px;
      }

      .nav-cart-logo {
        /* position: unset; */
      }
}

/*---Bigger Tablet/ Small Desktop---*/
@media screen and (min-width:1015px) {
    nav.main-nav ul {
        gap: 1.5rem;
      }
}

/*---Desktop---*/
@media screen and (min-width:1250px) {
    nav.main-nav ul {
      gap: 2rem;
    }
}

/*---Bigger Desktop Screen---*/
@media screen and (min-width:1600px) {
    nav.main-nav ul {
        gap: 3rem;
      }
      nav.main-nav li {
        font-size: 1.5rem;
      }
}