@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700;800&family=Manrope:wght@600;800&family=Markazi+Text:wght@400;600;700&family=Noto+Sans:wght@300;400&family=Roboto&family=Varela+Round&display=swap');

:root {
  --primary-yellow: #F4CE14;
  --main-title: #C1A20E;
  --primary-green: #495E57;
  --secondary-orange: #EE9972;
  --secondary-pale-orange: #fbdabb;
  --secondary-pale-gray: #edefee;
  --secondary-dark-gray: #333333;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: 'nav' 'header' 'main' 'footer';
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
}


nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
}
nav .mobile-menu {
  display: none;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 0.7rem;
}

header {
  grid-area: header;
  background-color: var(--primary-green);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 2.5rem 15rem;
  font-family: 'Markazi Text', serif;
}

.header-wrapper h1 {
  margin: 0;
  padding: 0;
  font-size: 4rem; /*64px*/
  color: var(--main-title);
}

.header-wrapper h3 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  color: white;
}

.header-image {
  height: 20rem;
  width: 18rem;
  position: absolute;
  right: 15rem;
  top: 10%;
  border-radius: 1rem;
}


.header-text {
  margin-bottom: 2rem;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
}

button.reserve {
  width: 8rem;
  height: 2rem;
  position: absolute;
  bottom: 2rem;
  left: 15rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-yellow);
  font-weight: bold;
  font-family: 'Karla', sans-serif;
}

main {
  grid: main;
}

section.highlights {
  padding: 4rem 0;
  display: grid;
  justify-content: center;
}


section.highlights .dish-photo {
  height: 12rem;
  width: 20rem;
  object-fit: cover;

}

section.highlights .title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.highlights .menu-button {
  height: 3rem;
  padding: 0 2rem;
  background-color: var(--primary-yellow);
  border: none;
  border-radius: 0.7rem;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
}

section.highlights .dishes {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  gap: 3rem;
  justify-content: center;
}

section.highlights .dishes .dish {
  background-color: var(--secondary-pale-gray);
  position: relative;
  border-radius: 1rem;
}

section.highlights .dishes .dish .dish-details {
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}

section.highlights .wrap-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.highlights .dish-description {
  margin-bottom: 4rem;
  font-family: 'Karla', sans-serif;
  color: var(--primary-green);
  font-size: 1rem;
}

.wrap-name-price h5 {
  font-size: 1.5rem;
  font-family: 'Markazi Text', serif;
  padding: 0;
  margin: 0;
}
.wrap-name-price span {
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  color: var(--secondary-orange);

}

section.highlights .order {
  position: absolute;
  bottom: 1.5rem;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  font-size: 0.8rem;
  color: var(--secondary-dark-gray);
}

section.highlights .bike-icon {
  position: absolute;
  right: -25px;
  font-size: 1rem;
  bottom: -4px;
  color: black;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  bottom: 0;
  padding: 2rem;
}

.footer-image {
  height: 14rem;
  width: 5rem;
}

footer div {
  padding: 0;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

/*---MOBILE---*/
@media screen and (min-width:260px) and (max-width: 640px){
  nav .logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  nav ul {
    display: none;
  }

  nav .mobile-menu {
    display: block;
  }
  header {
    /* padding: 0; */
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 2rem;
  }

  .header-wrapper h1 {
    font-size: 2.5rem;
  }
  .header-wrapper h3 {
    font-size: 1.5rem;
  }
  .header-text {
    font-size: 0.9rem;
  }

  button.reserve {
    position: relative;
    left: 0;
    margin-top: 1rem;
  }

  .header-image  {
    display: none;
  }
  footer {
    grid-template-columns: 1fr;
    position: relative;
    gap: 0;
  }

  section.highlights .title-wrapper {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  section.highlights .wrap-name-price {
    margin-top: 1rem;
  }

  section.highlights .dishes {
    grid-template-columns: repeat(1, 70%);
  }

  section.highlights .dish {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }


  section.highlights .dish-photo {
    height: 17rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

/*---TABLET---*/
@media screen and (min-width:641px) {
  nav ul {
    display: flex;
    gap: 1rem;
  }
  nav li {
    font-size: 15px;
  }
  header {
    padding: 2rem 7rem;
  }

  .header-wrapper h1 {
    font-size: 2.5rem;
  }
  .header-wrapper h3 {
    font-size: 1.7rem;
  }

  .header-text {
    margin-bottom: 2.5rem;
    font-size: 0.8rem;
  }

  button.reserve {
    position: absolute;
    left: 7rem;
    bottom: 2rem;
  }

  .header-image  {
    display: block;
    height: 16rem;
    width: 13rem;
    right: 7rem;
  }

  section.highlights .dishes {
    grid-template-columns: repeat(1, 30rem);
  }

  section.highlights .dish {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  section.highlights .dish-photo {
    height: 100%;
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  section.highlights .wrap-name-price {
    margin-top: 2rem;
  }

}

/*---Bigger Tablet---*/

@media screen and (min-width:1015px) {
  nav ul {
    gap: 1.5rem;
  }
  header {
    padding: 2.5rem 15rem;
  }
  .header-wrapper h1 {
    font-size: 3rem;
  }
  .header-wrapper h3 {
    font-size: 1.5rem;
  }
  .header-image {
    height: 19rem;
    width: 16rem;
    right: 15rem;
  }
  button.reserve {
    position: absolute;
    bottom: 2rem;
    left: 15rem;
  }
  .header-text {
    font-size: 1rem;
  }
  section.highlights .dishes {
    grid-template-columns: repeat(3, 18rem);
  }

  section.highlights .dish {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

  }

  section.highlights .dish-photo {
    height: 12rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
  }
}

/*---Desktop---*/

@media screen and (min-width:1250px) {
  nav ul {
    gap: 2rem;
  }
  header {
    padding: 2.5rem 15rem;
  }
  .header-image {
    height: 21rem;
    width: 18rem;
    right: 20rem;
  }
  .header-wrapper h1 {
    font-size: 4rem;
  }
  .header-wrapper h3 {
    font-size: 2rem;
  }
  .header-text {
    font-size: 0.8rem;
  }
  section.highlights .title-wrapper {
    margin-top: 3rem;
  }

}

/*---Bigger Desktop Screen---*/

@media screen and (min-width:1600px) {
  nav ul {
    gap: 3rem;
  }
  nav li {
    font-size: 1.5rem;
  }
  header {
    padding: 2.8rem 20rem;
  }
  .logo {
    height: 4rem;
  }
  .header-wrapper h1 {
    font-size: 6rem;
  }
  .header-wrapper h3 {
    font-size: 3rem;
  }
  .header-text {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .header-image {
    height: 28rem;
    width: 22rem;
    right: 20rem;
  }
  button.reserve {
    left: 20rem;
    width: 13rem;
    height: 2.8rem;
    bottom: 2rem;
    font-size: 1.2rem;
  }

  section.highlights .dishes {
    grid-template-columns: repeat(3, 23rem);
  }

  section.highlights .dish-photo {
    height: 12rem;
    width: 100%;
  }
  section.highlights .title-wrapper {
    margin-top: 5rem;
  }

 }
