@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700;800&family=Manrope:wght@600;800&family=Markazi+Text:wght@400;600;700&family=Noto+Sans:wght@300;400&family=Roboto&family=Varela+Round&display=swap');

:root {
  --primary-yellow: #F4CE14;
  --main-title: #C1A20E;
  --primary-green: #495E57;
  --secondary-orange: #EE9972;
  --secondary-pale-orange: #fbdabb;
  --secondary-pale-gray: #edefee;
  --secondary-dark-gray: #333333;
}

/*Fonts
    font-family: 'Karla', sans-serif;
    font-family: 'Markazi Text', serif;
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: 'nav' 'header' 'main' 'footer';
}

main {
  grid: main;
}

/*mobile menu*/


/*---MOBILE---*/
@media screen and (min-width:260px) and (max-width: 640px){
  /**/
}

/*---TABLET---*/
@media screen and (min-width:641px) {
  /**/
}

/*---Bigger Tablet/ Small Desktop---*/

@media screen and (min-width:1015px) {
  /**/
}

/*---Desktop---*/

@media screen and (min-width:1250px) {
  /**/
}

/*---Bigger Desktop Screen---*/

@media screen and (min-width:1600px) {
  /**/
 }
